*.rsf
*.vpl
*.pyc
*.jpeg
*.asc
*.o
.sconsign
sfnhcrssurf
sfvfsacrsnh
Fig/
*.aux
*.bbl
*.blg
*.lof
*.log
*.ltx
*.out
*.pdf
*.x
convgraph
mtconvgraph
vfsacrsnh_lib.h
nhcrssurf_lib.h
dummyfile
infra/scripts/build
*.tar
