name:   Deploy

on:
        push:
                tags:
                        - "v*"
        workflow_dispatch:
            inputs:
              test_3_0:
                description: 'Run Madagascar 3.0 tests'
                required: false
                default: 'true'
              test_4_0:
                description: 'Run Madagascar 4.0 tests'
                required: false
                default: 'false'
              test_4_2:
                description: 'Run Madagascar 4.2 tests'
                required: false
                default: 'false'
jobs:
        build-madagascar-3-0:
                if: ${{ github.event.inputs.test_3_0 == 'true' }}
                runs-on: ubuntu-latest
                steps:
                        - name: Repository checkout
                          uses: actions/checkout@v3
                          with:
                                fetch-depth: 0

                        - name: Set up Docker Buildx
                          uses: docker/setup-buildx-action@v1

                        - name: Login to GitHub Container Registry
                          uses: docker/login-action@v3
                          with:
                                  registry: ghcr.io
                                  username: ${{ github.actor }}
                                  password: ${{ secrets.mytoken }}

                        - name: Build and push madagascar 3.0
                          uses: docker/build-push-action@v2
                          with:
                                context: .
                                file: ./infra/docker/madagascar-3.0/Dockerfile
                                tags: madagascar-3.0:0.1.0
                                outputs: type=docker,dest=/tmp/madagascar-3.0.tar

                        - name: Upload artifact
                          uses: actions/upload-artifact@v4
                          with:
                                name: madagascar-3.0
                                path: /tmp/madagascar-3.0.tar
                                retention-days: 0

        build-madagascar-4-0:
                if: ${{ github.event.inputs.test_4_0 == 'true' }}
                runs-on: ubuntu-latest
                steps:
                        - name: Repository checkout
                          uses: actions/checkout@v3
                          with:
                                fetch-depth: 0

                        - name: Set up Docker Buildx
                          uses: docker/setup-buildx-action@v1

                        - name: Login to GitHub Container Registry
                          uses: docker/login-action@v3
                          with:
                                  registry: ghcr.io
                                  username: ${{ github.actor }}
                                  password: ${{ secrets.mytoken }}
                        - name: Build and push madagascar 4.0
                          uses: docker/build-push-action@v2
                          with:
                                context: .
                                file: ./infra/docker/madagascar-4.0/Dockerfile
                                tags: madagascar-4.0:0.1.0
                                outputs: type=docker,dest=/tmp/madagascar-4.0.tar

                        - name: Upload artifact
                          uses: actions/upload-artifact@v4
                          with:
                                name: madagascar-4.0
                                path: /tmp/madagascar-4.0.tar
                                retention-days: 0

        build-madagascar-4-2:
                if: ${{ github.event.inputs.test_4_2 == 'true' }}
                runs-on: ubuntu-latest
                steps:
                        - name: Repository checkout
                          uses: actions/checkout@v3
                          with:
                                fetch-depth: 0

                        - name: Set up Docker Buildx
                          uses: docker/setup-buildx-action@v1

                        - name: Login to GitHub Container Registry
                          uses: docker/login-action@v3
                          with:
                                  registry: ghcr.io
                                  username: ${{ github.actor }}
                                  password: ${{ secrets.mytoken }}
                        - name: Build and push madagascar 4.2
                          uses: docker/build-push-action@v2
                          with:
                                context: .
                                file: ./infra/docker/madagascar-4.2/Dockerfile
                                tags: madagascar-4.2:0.1.0
                                outputs: type=docker,dest=/tmp/madagascar-4.2.tar

                        - name: Upload artifact
                          uses: actions/upload-artifact@v4
                          with:
                                name: madagascar-4.2
                                path: /tmp/madagascar-4.2.tar
                                retention-days: 0

        test-madagascar-3-0:
                if: ${{ github.event.inputs.test_3_0 == 'true' }}
                runs-on: ubuntu-latest
                needs: build-madagascar-3-0
                steps:
                        - name: Set up Docker Buildx for Madagascar 3.0
                          uses: docker/setup-buildx-action@v1
                        - name: Download artifact - Madagascar 3.0
                          uses: actions/download-artifact@v4
                          with:
                                name: madagascar-3.0
                                path: /tmp
                        - name: Load Docker image - Madagascar 3.0
                          run: |
                               docker load --input /tmp/madagascar-3.0.tar
                               
                        - name: Sanity check container environment
                          run: |
                            docker run --rm madagascar-3.0:0.1.0 bash -c "
                              # Checa RSFROOT
                              if [ -z \$RSFROOT ]; then
                                echo '### RSFROOT Missing ❌'
                              else
                                echo '### RSFROOT: \$RSFROOT ✅'
                              fi
                        
                              # Checa PYTHONPATH
                              if [ -z \$PYTHONPATH ]; then
                                echo '### PYTHONPATH Missing ❌'
                              else
                                echo '### PYTHONPATH: \$PYTHONPATH ✅'
                              fi
                        
                              # Checa PATH
                              if ! echo \$PATH | grep -q \$RSFROOT/bin; then
                                echo '### PATH problem: \$RSFROOT/bin not in PATH ❌'
                              else
                                echo '### PATH OK: \$RSFROOT/bin is in PATH ✅'
                              fi
                        
                              # Testa Python e RSF
                              python3 -c 'import rsf' && echo '### Python RSF: Import successful ✅' || echo '### Python RSF: Import FAILED ❌'
                            " >> $GITHUB_STEP_SUMMARY

                        - name: Run unit tests in Madagascar 3.0
                          run: docker run -t madagascar-3.0:0.1.0 bash -c "cd /home/tryitondocker/madagascar-3.0/user/vfsa && make -C test TESTS=libraries"

                        - name: Run optimization tests in Madagascar 3.0
                          run: docker run -t madagascar-3.0:0.1.0 bash -c "cd /home/tryitondocker/madagascar-3.0/user/vfsa && make -C test TESTS=optimization"

                          
        test-madagascar-4-0:
                if: ${{ github.event.inputs.test_4_0 == 'true' }}
                runs-on: ubuntu-latest
                needs: build-madagascar-4-0
                steps:
                        - name: Set up Docker Buildx for Madagascar 4.0
                          uses: docker/setup-buildx-action@v1
                        - name: Download artifact - Madagascar 4.0
                          uses: actions/download-artifact@v4
                          with:
                                name: madagascar-4.0
                                path: /tmp
                        - name: Load Docker image - Madagascar 4.0
                          run: |
                               docker load --input /tmp/madagascar-4.0.tar

                        - name: Run unit tests in Madagascar 4.0
                          run: docker run -t madagascar-4.0:0.1.0 bash -c "cd /home/madagascar-4.0/user/vfsa && make -C test TESTS=libraries"

                        - name: Run optimization tests
                          run: docker run -t madagascar-4.0:0.1.0 bash -c "cd /home/madagascar-4.0/user/vfsa && make -C test TESTS=optimization"

        test-madagascar-4-2:
                if: ${{ github.event.inputs.test_4_2 == 'true' }}
                runs-on: ubuntu-latest
                needs: build-madagascar-4-2
                steps:
                        - name: Set up Docker Buildx for Madagascar 4.2
                          uses: docker/setup-buildx-action@v1
                        - name: Download artifact - Madagascar 4.2
                          uses: actions/download-artifact@v4
                          with:
                                name: madagascar-4.2
                                path: /tmp
                        - name: Load Docker image - Madagascar 4.2
                          run: |
                               docker load --input /tmp/madagascar-4.2.tar

                        - name: Run unit tests in Madagascar 4.2
                          run: docker run -t madagascar-4.2:0.1.0 bash -c "export DATAPATH=/rsfdata/ && cd /home/madagascar-4.2/user/vfsa && cd test/libraries/test_data_cube && scons  && cd - && make -C test TESTS=libraries"

                        - name: Run optimization tests
                          run: docker run -t madagascar-4.2:0.1.0 bash -c "export DATAPATH=/rsfdata/ && cd /home/madagascar-4.2/user/vfsa && cd test/libraries/test_data_cube && scons  && cd - && make -C test TESTS=libraries"

        deploy:
                runs-on: ubuntu-latest
                if: startsWith(github.ref, 'refs/tags')
                needs:
                        - test-madagascar-3-0
                        - test-madagascar-4-0
                        - test-madagascar-4-2
                steps:
                        - name: Repository checkout
                          uses: actions/checkout@v3
                          with:
                                fetch-depth: 0
                        - name: Build version for deploy
                          run: cd infra/scripts; ./prepare_deploy.sh

                        - name: Upload artifact
                          uses: actions/upload-artifact@v4
                          with:
                                name: deploy
                                path: ./infra/scripts/deploy.tar
                                retention-days: 0
                          
                        - name: Set up Docker Buildx
                          uses: docker/setup-buildx-action@v1
                        - name: Download artifact
                          uses: actions/download-artifact@v4
                          with:
                                name: madagascar-3.0
                                path: /tmp
                        - name: Load Docker image
                          run: |
                               docker load --input /tmp/madagascar-3.0.tar
                               docker image ls -a
                        - name: Check version
                          run: docker run -t madagascar-3.0:0.1.0 bash -c "cd /home/tryitondocker/madagascar-3.0/user/vfsa && ./infra/scripts/version_check.sh"
                        - name: Generate a changelog
                          run: docker run -t madagascar-3.0:0.1.0 bash -c "cd /home/tryitondocker/madagascar-3.0/user/vfsa && ./infra/scripts/prepare_release_msg.sh" >> ./changelog.md
                        - name: Upload changelog artifact
                          uses: actions/upload-artifact@v4
                          with:
                                name: changelog
                                path: ./changelog.md
                                retention-days: 0
                        - name: Create Release
                          id: create_release
                          uses: actions/create-release@v1
                          env:
                                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
                          with:
                                tag_name: ${{ github.ref }}
                                release_name: ${{ github.ref }}
                                body_path: ./changelog.md
                                draft: true
                                prerelease: true
